@media screen and (max-width: 400px) {
  #vision {
    padding: 20px;
    width: 111%;
  }
  #about,
  #team,
  #payment
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
